body {
  display: flex;
  flex-direction: column;
  align-items: center; }

.dropArea {
  width: 500px;
  height: 100px;
  border: 5px dashed #ccc;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  cursor: grab;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 30px;
  font-weight: bolder;
  font-family: sans-serif;
  margin: 50px;
  color: green; }
  .dropArea--border-Black {
    border: 5px dashed black; }
  .dropArea input {
    display: none; }

.fileItem {
  width: 400px;
  margin-top: 50px;
  display: flex;
  flex-direction: column; }
  .fileItem__description {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .fileItem__description span {
      width: 150px;
      height: 20px;
      overflow: hidden; }
  .fileItem__percent {
    text-align: end; }

.progressBar {
  width: 400px;
  height: 10px;
  border-radius: 8px;
  background-color: #f0f0f0;
  margin-top: 5px; }

.progressBarFill {
  height: 100%;
  border-radius: 8px; }

.success {
  background-color: green; }

.error {
  background-color: red; }
